.admin-dashboard-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background-color: rgb(236, 236, 236);
}

.ruhuna-details {
  position: relative;
  display: flex;
  width: 99%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 0.5% 0.5% 0.5%;
  padding: 0;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

.ruhuna-details span {
  position: relative;
  display: flex;
  opacity: "0.8";
  margin: 1vh;

  font-size: 12px;

  width: 98%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.row {
  position: relative;
  display: flex;
  margin: 0% 5% 0.5% 5%;
  width: 90%;
  align-items: center;
  background-color: white;
}

.ruhuna-details img {
  position: relative;
  display: flex;
  max-width: 70px;
  height: auto;
  margin: 0.5%;
  background-color: white;
}

.ruhuna-details-font {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 80%;
  background-color: white;
}

.ruhuna-details-font .faculty {
  position: relative;
  font-size: 36px;
  color: #012970;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;

}

.ruhuna-details-font .campus {
  position: relative;
  font-size: 26px;
  color: #012970;
  font-family: "Poppins", sans-serif;
  margin-left: 5%;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.second-row-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  width: 100%;
  margin: 0%;
  padding: 0;

}

.item {
  position: relative;
  background: white;
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
  display: grid;
  width: 49%;
  margin: 0.5%;
}

.dep-name {
  font-weight: light;
  margin: 3%;
  font-size: 14px;
  align-items: center;
  position: relative;
  display: flex;
  background-color: white;
}

.dep-name span {
  font-size: 11px;
  background-color: white;
}

/*Dashboard Count*/

.count {
  position: relative;
  display: flex;
  grid-gap: 0px;
  margin: 0px 20px 20px 20px;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.lecture {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 0px;
  background-color: #e8f4ff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student {
  position: relative;
  display: flex;
  width: 120px;
  height: 120px;
  padding: 10px;
  margin: 0px;
  background-color: #e8f4ff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mem-icon {
  position: relative;
  display: flex;
  font-size: 38px;
  opacity: 0.9;
  background-color: #e8f4ff;
}

.mem-topic {
  font-size: 16px;
  background-color: #e8f4ff;
}

@media (max-width: 920px){
.item{
  width: 98%;
}
.lecture{
  width: 150px;
  height: 150px;
}
.student{
  width: 150px;
  height: 150px;
}
}

@media (max-width: 770px) {
  .ruhuna-details {
    margin: 2%;
    width: 96%;
  }

  .ruhuna-details span {
    margin: 2% 2% 0% 2%;
    width: 96%;
  }

  .item {
    display: grid;
    width: 98%;
    margin: 2%;
  }

}

@media (max-width: 920px){
  .item{
    width: 98%;
  }
  .lecture{
    width: 150px;
    height: 150px;
  }
  .student{
    width: 150px;
    height: 150px;
  }
  }
  
  @media (max-width: 530px) {
    .ruhuna-details-font .faculty {
      font-size: 32px;

   }
   .ruhuna-details-font .campus {
    font-size: 22px;
  
   }
   .ruhuna-details img {
   
    max-width: 50px;
    
    
  }}
  

  @media (max-width: 471px) {
    .ruhuna-details-font .faculty {
      font-size: 28px;

   }
   .ruhuna-details-font .campus {
    font-size: 18px;
  
   }
 
  }
  
  @media (max-width: 380px) {
    .lecture{
      width: 120px;
      height: 120px;
    }
    .student{
      width: 120px;
      height: 120px;
    }
 
  }
  @media (max-width: 320px) {
    .count {
     flex-direction: column;
     gap: 10px;
    }

    .lecture{
      width: 150px;
      height: 150px;
    }
    .student{
      width: 150px;
      height: 150px;
    }

    .row {
     flex-direction: column;
    }
    .ruhuna-details-font{
      width: 100%;
      margin-left: 0px;
margin-right: 0px;
    }
    .ruhuna-details-font .faculty{
      font-size: 18px;
      justify-content: center;

    }
    .ruhuna-details-font .campus{
      font-size: 12px;
      justify-content: center;

    }
    .ruhuna-details span{
      font-size: 12px;
    }
    .dep-name{
      font-size: 12px;
    }
    .lecture{
      width: 130px;
      height: 130px;
    }
    .student{
      width: 130px;
      height: 130px;
    }
     
 
  }