.en-self-topic{
    margin: 1% 2% 0% 2%;
  font-size: 18px;
  width: 96%;
  display: flex;
  position: relative;
  align-items: center;
  color: #012970;
  font-family: "Poppins", sans-serif;
    
}
.enroll-key-box {
  display: flex;
  position: relative;
    padding: 5px;
    margin: 2%;
    width: 96%;
   
    
}
.enroll-key-box label {
  padding: 15px;
  font-weight: 500;
}

.enroll-key-box input {
  margin: 1% 2% 1% 2%;
  
}
.enrollbtn{
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-left: 20px;
}

@media (max-width: 460px) {
  .enroll-key-box {
    flex-direction: column;
  }

  .enroll-key-box input {
  
 
    margin: 1% 2% 1% 2%;
    
    
  }
  .enroll-key-box button{
    margin: 1% 2% 1% 2%;
    width: 40%;
  }
}