* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.top-bar {
  display: flex;
  align-items: center;
  background-color: rgb(0, 53, 102);
  height: 12vh;
  padding-left: 20px;
}

.img {
  width: 137px;
  height: 55px;
}

.content-bar {
  
  display: flex;
  position: relative;
  overflow: hidden;
  flex: 1;
  
}

.content-bar h1 {
  font-size: 18px;
  color: rgb(15, 15, 15);
  margin-top: 20px;
  
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
}

.text-content {
  margin: 60px 50px 0 50px;
  width: 70%;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bolder;
  color: rgb(2, 3, 70);
}

.text-content p {
  margin-bottom: 0.01em;
}

.form_container {
  background-color: #ffffffee;
  padding: 2rem 3rem;
  border-radius: 1.3rem;
  width: 100%;
  margin: 75px;
  max-width: 350px;
  height: 400px;
  position: relative;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 30px;
}

.form_container div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
}

.form_container input {
  border: none;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {
  background-color: rgba(3, 4, 94);
  color: #fff;
  border: none;
  padding: 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

@media screen and (max-width: 817px) {
  .content-bar {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .content-bar h1{
    margin: 10px;
  }
  .text-content {
    width: 100%;
    margin: 20px auto;
    font-size: 40px;
    text-align: center;
  }

  .form_container {
    width: 75%;
    margin-top: 20px;
    background-color: #ffffffec
  }

  .bg-video {
    height: 150vh;
    opacity: 0.3;
  }
}

@media screen and (max-width: 1000px){
  
  .bg-video {
    min-height: 120vh;
  }

  
}
