.access {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  padding: 0;
  flex-direction: column;

  z-index: 1000;
  background-color: rgb(236, 236, 236);
}

.module-access-container {
  position: relative;
  display: flex;
  width: 99%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 0.5% 1% 0.5%;
  padding: 0;
  flex-direction: column;



}

.access-topic span{
  display: flex;
  flex-direction: column;
  color: #012970;
  font-family: "Poppins", sans-serif;
  margin: 2%;
  font-size: 20px;
  font-weight: bold;
}

.access-module-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #e8f4ff;
  width: auto;
  height: auto;
  margin: 20px;
  border-radius: 15px;
  padding: 5px;
}


.access-module-container {
  background: white;
  height: auto;
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  position: relative;

}

.accessmodname {

  display: flex;
  align-items: center;
  margin-left: 20px;
  background-color: white;


}

.module-icon-access {
  display: flex;
  position: relative;

  font-size: 18px;
  margin: 20px;
}

.module-name {
  display: flex;
  position: relative;
  width: 90%;
  font-size: 18px;
  margin: 20px;

}

.module-access-box {
  display: flex;
  background-color: #f0f8ff;
  padding: 15px;
  width: 46%;
  margin: 2%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.module-access-box:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.access-lecturer-names {
  margin: 20px;

}

@media (max-width: 988px) {
  .access-module-container {

    flex-direction: column;


  }

  .module-access-box {
    width: 96%;
    margin-right: 4%;
  }

}

@media (max-width: 320px) {
  .access-lecturer-names h6 {
    font-size: 12px;
  }

  .module-name p {
    font-size: 14px;
  }

}