
.viewmod{

  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;


  padding: 0;
  flex-direction: column;

  z-index: 1000;
  background-color: rgb(236, 236, 236);
}


.lecturer-view-module-container{
  position: relative;
  display: flex;
  width: 99%;
  border-radius: 10px;
  background-color: white;
  margin: 1% 0.5% 1% 0.5%;
  padding: 0;
  flex-direction: column;
}

.dashboard-link {
  text-decoration: none;
  color: inherit;
}
.dashboard-link:hover {
  text-decoration: none;
  color: inherit;
}

.view-module-navigate{
  position: relative;
  display: flex;
  opacity: "0.8";
  margin: 1%;
  font-size: 12px;
  width: 98%;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.view-module-topic{
  margin: 1% 2% 0% 2%;
  font-size: 20px;
  font-weight: bold;
  width: 96%;
  display: flex;
  position: relative;
  align-items: center;
  color: #012970;
  font-family: "Poppins", sans-serif;
}
.attendance-dash{
  position: relative;
  display: flex;
  margin: 1% 2% 1% 2%;
  width: 96%; 
}
.attendance-dash-left{
  position: relative;
  display: flex;
  width: 70%;
  flex-wrap: wrap;
}

.attendance-dash-left-top{
  position: relative;
  display: flex;
  width: 100%;  
  height: 30vh;
}
.enrolled-stu-count{
  position: relative;
  display: flex;
  width: 48%;
  margin: 1%;
  background-color: #e8f4ff;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.enrolled-stu-count-top{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.enrolled-stu-count-top-text{
  position: relative;
  margin: 3%;
  display: flex;
  
}
.enrolled-stu-count-top-text-first{
  position: relative;
  margin: 5% 10%;
  font-size: 40px;
  padding: 0;
  display: flex;
}
.enrolled-stu-count-top-text-second{
  position: relative;
  margin: 5% 10%;
  font-size: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.report-topic-dev{
  position: relative;
  width: 100%;
  padding: 1%;
}
.report-topic-dev h6{
  font-size: 16px;
}
.attendance-dash-left-bottom{
  position: relative;
  display: flex;
  width: 100%;
  overflow-y: scroll;
  height: 70vh;
  flex-direction: column;
  scrollbar-width: none;
}
.module-att-report{
  display: flex;
  background-color: #e8f4ff;
    margin: 1%;
    width: 98%;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    
}
.report-first-row {
  position: relative;
  display: flex;
  margin: 2% 5% 2% 5%;
  width: 90%;  
  justify-content: space-between;

}
.report-second-row{
  position: relative;
  display: flex;
  margin: 2% 5% 2% 5%;
  width: 90%;   

}



.attendance-dash-right{
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;  
}
.report-details-box{
  display: flex;
  background-color: #e8f4ff;
    margin: 2%;
    padding: 10px;
    width: 96%;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    justify-content: left;
    align-items: center;
}
.time-picker{
  display: flex;
  position: relative;
  width: 96%;
  margin: 2%; 
  flex-direction: column;
}



@media (max-width: 900px) {

  .attendance-dash{
   flex-direction: column-reverse;
  }
  .attendance-dash-right{
    width: 98%; 
  }
  .attendance-dash-left{
    width: 98%;
    
  }
 
}

@media (max-width: 400px) {
.view-module-navigate{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 10px;
}
  
}

@media (max-width: 500px) {

  .report-second-row table{
    width: 500px;
  }
  }

  @media (max-width: 400px) {

    .attendance-dash-left-top{
      flex-direction: column;
    }
    .enrolled-stu-count{
      width: 96%;
    }

    .attendance-dash-left-top{
    
      height: auto;
    }
    .attendance-dash-left-bottom{
      height: auto;
    }
    }